@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'LatoHeavy';
    src: url('../fonts/latoheavy.html');
    src: url('../fonts/latoheavy.html') format('embedded-opentype'),
         url('../fonts/latoheavy.woff2') format('woff2'),
         url('../fonts/latoheavy.woff') format('woff'),
         url('fonts/latoheavy.html') format('truetype'),
         url('fonts/latoheavy-2.html#LatoHeavy') format('svg');
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/latolight.html');
    src: url('../fonts/latolight.html') format('embedded-opentype'),
         url('../fonts/latolight.woff2') format('woff2'),
         url('../fonts/latolight.woff') format('woff'),
         url('../fonts/latolight-2.html') format('truetype'),
         url('../fonts/latolight-3.html#LatoLight') format('svg');
}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/latoregular.html');
    src: url('../fonts/latoregular.html') format('embedded-opentype'),
         url('../fonts/latoregular.woff2') format('woff2'),
         url('../fonts/latoregular.woff') format('woff'),
         url('../fonts/latoregular-2.html') format('truetype'),
         url('../fonts/latoregular-3.html#LatoRegular') format('svg');
}
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/latobold.html');
    src: url('../fonts/latobold.html') format('embedded-opentype'),
         url('../fonts/latobold.woff2') format('woff2'),
         url('../fonts/latobold.woff') format('woff'),
         url('../fonts/latobold-2.html') format('truetype'),
         url('../fonts/latobold-3.html#LatoBold') format('svg');
}
@font-face {
    font-family: 'LatoMedium';
    src: url('../fonts/latomedium.html');
    src: url('../fonts/latomedium.html') format('embedded-opentype'),
         url('../fonts/latomedium.woff2') format('woff2'),
         url('../fonts/latomedium.woff') format('woff'),
         url('../fonts/latomedium-2.html') format('truetype'),
         url('../fonts/latomedium-3.html#LatoMedium') format('svg');
}